<div>
	<h4>Enter your class preferences:</h4>
	<form name="class-preferences-form" >
		<div class="ddl">
			{{"1."}}
			<select ng-model="selectedPreference" ng-options="item.name for item in cpCtrl.stuff">
				<option value="">Select Class</option>
			</select><br/><br/>
			{{"2."}}
			<select ng-model="selectedPreference" ng-options="item.name for item in cpCtrl.stuff">
				<option value="">Select Class</option>
			</select><br/><br/>
			{{"3."}}
			<select ng-model="selectedPreference" ng-options="item.name for item in cpCtrl.stuff">
				<option value="">Select Class</option>
			</select>
			<br/><br/>
		</div>
		<div>
			<input type="submit" ng-show="true" value="Submit"></input>
		</div>	
	</form>
	
</div>