<div>
	<h4>Enter your class preferences:</h4>

		<div class="ddl">
			{{"1."}}
			<select ng-model="cpCtrl.selectedPreference1" ng-options="item.name for item in cpCtrl.classes">
				<option value="">Select Class</option>
			</select><br/><br/>
			{{"2."}}
			<select ng-model="cpCtrl.selectedPreference2" ng-options="item.name for item in cpCtrl.classes">
				<option value="">Select Class</option>
			</select><br/><br/>
			{{"3."}}
			<select ng-model="cpCtrl.selectedPreference3" ng-options="item.name for item in cpCtrl.classes">
				<option value="">Select Class</option>
			</select>
			<br/>
		</div>
		<div>
			<h6 ng-bind="cpCtrl.alert" style="color:red"></h6>
			<button ng-click="cpCtrl.submit()">Submit</button>
		</div>	

	
</div>