
	<div class="selectStudentNameForPref">
		<div ng-class="hdCtrl.getTabPaneClass(1)" id="PR">    
			<accordion>
				<accordion-group heading="{{item.timestamp | date:'MMM d, y @ h:mm:ss a'}}" ng-repeat="item in hdCtrl.recommendations">
				<div class="ddl" ng-repeat="recommendation in item.termRecommendations">
					{{recommendation.term.termSeason+" "+recommendation.term.year+": "}}
					<div ng-if="recommendation.courses.length > 0" ng-repeat="course in recommendation.courses">
						{{($index+1)+". " +course.id+": "+course.name}}
					</div>
					<div ng-if="recommendation.courses.length == 0">
						{{"Semester Off"}}
					</div><br/>
				</div>
			</accordion-group>   
		</div>       

</div>
