<div>

		<select class="in-line" ng-model="csCtrl.numMaxClasses">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
		</select><h5 class="in-line">Maximum Courses Allowed Per Semester</h5><br/>
		<select class="in-line" ng-model="csCtrl.numTerms">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
		</select><h5 class="in-line">Number of Semesters to Simulate</h5><br/>
		<br/>
		<button ng-click="csCtrl.submit()">Submit</button>

	<div>
	<h6 ng-bind="csCtrl.alert" style="color:red"></h6><br/>
	</div>
</div>