<div>
	<select class="selectStudentNameForPref" size="5" ng-model="spCtrl.selectedPref" ng-options="item.id for item in spCtrl.uniqueStudents" ng-change="spCtrl.populateStudentPrefs()">
		<option value="">Select Student</option>
	</select>
</div>
<h6 ng-bind="spCtrl.alert" style="color:red"></h6>

<div>
	<table class="selectStudentNameForPref" border="1">
    <tr>
      <th>DateTime</th>
      <th>Preferences</th>
    </tr>
    <tr ng-repeat="entry in spCtrl.studentData | orderBy:entry.datetime">
      <td>{{entry.datetime | date:'MMM d, y @ h:mm:ss a'}}</td>
      <td>
        <div class="ddl" ng-repeat="class in entry.prefs">
          <div>
            {{class.course.id+": "+class.course.name}}
          </div><br/>
        </div></td>
    </tr>
  </table>
</div>